body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.back a{
  text-decoration: none;
  border-style: solid;
  color: white;
  background-color: black;
  
}
.back a:hover{
  background-color: blue;
  color: black;
}

.home a{
  text-decoration: none;
  border-style: solid;
  color: white;
  background-color: black;
 
  
}
.home a:hover{
  background-color: blue;
  color: black;
}